AvatarReactUnity\Assets\Map\CCOcha.fbx
C:\Users\imd-lab\Desktop\2022TSUNDERE\VirtualCafe\AvatarReactUnity\Assets\Fonts\NotoSansJP-Regular SDF.asset
AvatarReactUnity/Assets/Fonts/NotoSansJP-Regular SDF.asset
AvatarReactUnity/Assets/Fonts/JK-Maru-Gothic-M SDF.asset.meta
AvatarReactUnity/Assets/Fonts/JK-Maru-Gothic-M SDF.asset.meta
